################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/IncidentTracker/IncidentTracker/bin/Debug/netcoreapp3.1
